<form [formGroup]="routeForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group bmd-form-group" [class.was-validated]="routeForm.get('lane').dirty || routeForm.get('lane').touched || wasValidated">
    <label for="routeLane" class="bmd-label-static">Couloir :</label>
    <input type="number" class="form-control" id="routeLane" min="1" formControlName="lane" required>
    <div class="invalid-feedback">
      Please select a lane number.
    </div>
  </div>

  <div class="form-group bmd-form-group" [class.was-validated]="routeForm.get('colour').dirty || routeForm.get('colour').touched || wasValidated">
    <label for="colourSelect" class="bmd-label-static">Couleur :</label>
    <ng-select #colourSelect [items]="colours"
            [selectOnTab]="true"
            bindValue="key"
            placeholder="Select colour"
            formControlName="colour" id="colourSelect" required>
    </ng-select>
    <div class="invalid-feedback">
      Please select a lane number.
    </div>
  </div>

  <div class="form-group bmd-form-group" [class.was-validated]="routeForm.get('grade').dirty || routeForm.get('grade').touched || wasValidated">
    <label for="gradeSelect" class="bmd-label-static">Quotation :</label>
    <ng-select #gradeSelect [items]="grades"
            [selectOnTab]="true"
            placeholder="Select grade"
            formControlName="grade" id="gradeSelect" required>
    </ng-select>
    <div class="invalid-feedback">
      Grade is required.
    </div>
  </div>

  <div class="form-group bmd-form-group" [class.was-validated]="routeForm.get('setter').dirty || routeForm.get('setter').touched || wasValidated">
    <label for="routeSetter" class="bmd-label-static">Ouvreur :</label>
    <input type="text" class="form-control" id="routeSetter" formControlName="setter" required>
    <div class="invalid-feedback">
      Route setter is required.
    </div>
  </div>

  <button type="submit" >Submit</button>

</form>
