.capitalize {
    text-transform: capitalize;
}

.user-row {
  cursor: pointer;
}

.user-row td{
  vertical-align: middle;
}

.user-row th{
  vertical-align: middle;
}

.gold {
  color: #fdd835;
}

.silver {
  color: #bdbdbd;
}

.bronze {
  color: #c79100;
}

.user-avatar {
  display: inline-block;
  margin-right: 1em;
}

.tops {
  padding-left: 1.5em;
  background-position: 0em;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-image: url(/assets/topsicon.svg);
}
