<ng-select [items]="routes$ | async"
           bindLabel="lane"
           placeholder="Select route"
           [(ngModel)]="selectedRoute"
           [searchFn]="routeSearchFn"
           (change)="onChange($event)">
  <ng-template ng-label-tmp let-item="item">
    <div>Couloir {{item.lane}}, {{item.grade}} <span [style.color]="getColourHex(item.colour)">{{getColourLabel(item.colour)}}</span></div>
  </ng-template>
  <ng-template ng-option-tmp let-item="item">
    <div>Couloir {{item.lane}}, {{item.grade}} <span [style.color]="getColourHex(item.colour)">{{getColourLabel(item.colour)}}</span></div>
  </ng-template>
</ng-select>
